version: '3.8'

services:
  proxy:
    image: nginx:1.27-alpine
    container_name: wishlist_proxy
    ports:
      - "80:80"
    volumes:
      - ./proxy-nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - frontend_net
      - backend_net
    depends_on:
      - api
      - frontend
    restart: always
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 256M

  frontend:
    image: vikavizniuk/lab2-frontend:latest
    container_name: wishlist_frontend
    networks:
      - frontend_net
    restart: always
    deploy:
      resources:
        limits:
          cpus: '0.25'
          memory: 128M

  api:
    image: vikavizniuk/lab2-api:latest
    container_name: wishlist_api
    env_file: .env.prod
    networks:
      - backend_net
    depends_on:
      - db
      - redis
    restart: always
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 512M

  db:
    image: postgres:15-alpine
    container_name: wishlist_db
    env_file: .env.prod
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - backend_net
    restart: always
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M

  redis:
    image: redis:7-alpine
    container_name: wishlist_redis
    command: redis-server 
    env_file: .env.prod
    volumes:
      - redis_data:/data
    networks:
      - backend_net
    restart: always
    deploy:
      resources:
        limits:
          cpus: '0.25'
          memory: 512M

networks:
  frontend_net:
    driver: bridge
  backend_net:
    driver: bridge

volumes:
  postgres_data:
    driver: local
  redis_data:
    driver: local